


/* RESET General */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Base del Body */
body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    background-color: var(--color-background);
    color: var(--color-text);
    line-height: 1.6;
    min-height: 100vh;
    scroll-behavior: smooth;
}

/* Imágenes */


/* Links */
a {
    color: var(--color-primary);
    text-decoration: none;
    transition: var(--transition-base);
}

a:hover {
    text-decoration: underline;
    color: var(--color-secondary);
}

/* Botones básicos */
button {
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

/* Clases utilitarias */
.container {
    padding-left: var(--spacing-medium);
    padding-right: var(--spacing-medium);
}

.section {
    padding-top: var(--spacing-large);
    padding-bottom: var(--spacing-large);
}


/* Para que el body ocupe toda la altura de la pantalla */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    font-family: 'Museo Sans Rounded', sans-serif;
}

/* Main debe crecer si hay espacio */
.main-content {
    flex: 1 0 auto;
    /* padding-top: var(--spacing-large); */
    /* opcional, para separarlo del header */
}

/* Footer que quede al fondo */
footer {
    flex-shrink: 0;
}