/* Footer General */
footer {
    background-color: var(--color-primary);
    color: white;
    padding: 1rem;
}

/* Iconos redes sociales */
.redesSo i {
    transition: transform 0.3s ease-in-out !important;
}

.redesSo i:hover {
    transform: scale(1.15) !important;
}