.category-scroll-container {
  display: flex;
  overflow-x: auto;
  padding: 0 1rem;
  gap: 0.5rem;
  scroll-behavior: smooth;
}

.category-scroll-container::-webkit-scrollbar {
  height: 3px;
}

.category-scroll-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
